
.body{
    font-family: 'Open Sans', sans-serif;
    
}

.index-title {
    font-size: 55px;
    font-weight: 550;
    padding-top: 0cm;
    padding-left: 20%;
}

.index-title-small {
    font-size: 25px;
    font-weight:350;
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 7px;

}

.index-text {
    width: 20% 20%;
    background-color:white;
    padding-left: 20%;
    padding-right: 20%;
}

.index-text-welcome {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
}

.theorie-title {
    font-size: 55px;
    font-weight: 550;
    padding-top: 0cm;
    padding-left: 20%;
}



.theorie-sprunggelenk {
    width: 20% 20%;
    background-color:white;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

.sprunggelenk-image {
    width: 120%;
    height: 300px;
    
    

}

.theorie-text-image-sprunggelenk {
    display:flex;   
    justify-content: space-between;

}

.text-anatomie-sprunggelenk {
    text-align: justify;

}


.theorie-knie {
    width: 20% 20%;
    background-color:white;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

.knie-image {
    width: 100%;
    height: 200px;

}

.theorie-text-image-knie {
    display:flex;
    justify-content: space-between;

}

.text-anatomie-knie {
    width: 200%;

}

.theorie-rumpf {
    width: 20% 20%;
    background-color:white;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

.rumpf-image {
    width: 100%;
    height: 200px;

}

.theorie-text-image-rumpf {
    display:flex;
    justify-content: space-between;

}

.text-anatomie-rumpf {
    width: 200%;

}

.theorie-schulter {
    width: 20% 20%;
    background-color:white;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

.schulter-image {
    width: 100%;
    height: 200px;

}

.theorie-text-image-schulter {
    display:flex;
    justify-content: space-between;

}

.text-anatomie-schulter {
    width: 200%;

}


.exercises-title-sprunggelenk{
    font-size: 50px;
    
}

.exercises-title-knie{
    font-size: 50px;
    
}

.exercises-title-rumpf{
    font-size: 50px;
    
}

.exercises-title-schulter{
    font-size: 50px;

}

.design-sprunggelenk{
    padding-left: 20%;
    padding-right: 20%;

}

.design-knie{
    padding-left: 20%;
    padding-right: 20%;

}

.design-rumpf{
    padding-left: 20%;
    padding-right: 20%;

}

.design-schulter{
    padding-left: 20%;
    padding-right: 20%;

}

.design-print{
    padding-left: 20%;
    padding-right: 20%;

}

.card-body{
    padding-top: 40px;

}

